@import "../globals.scss";

$background-color_1: rgba($callout-rgb, 0.5);

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  .arrow {
    position: absolute;
    top: 5px;
    left: 8px;
    padding: 0.5rem 0.8rem;
    @include beforeHover;
    span {
      display: inline-block;
      transition: transform 200ms;
    }
  }
}

.card {
  padding: 1rem 1.2rem;
  border-radius: $border-radius;
  background: $project-card-rgb;
  border: 5px solid $card-border-rgb;
  transition: background 200ms, border 200ms;
  h1 {
    font-weight: 600;
    margin-bottom: 0.7rem;
    text-align: center;
  }
  p {
    margin: 0;
    opacity: 0.6;
    font-size: 0.9rem;
    line-height: 1.5;
    max-width: 90%;
    text-wrap: balance;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .arrow {
    @include hoverLeft;
  }
}

@media (prefers-reduced-motion) {
  .arrow {
    &:hover {
      transform: none;
    }
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }
  .card {
    padding: 1rem 2.5rem;
    h1 {
      margin-bottom: 0.5rem;
    }
  }
}
